ul.menu
    li.menu__list
        a.menu__link(href="#history-anchor") История
    li.menu__list
        a.menu__link(href="#features-anchor") Производство
    li.menu__list
        a.menu__link(href="#assortment-anchor") Ассортимент
    li.menu__list
        a.menu__link(href="#feedback-anchor") Где купить
