.reviews
    .reviews__container
        h2.reviews__title Пресса о нас
        blockquote.reviews__line
            p.reviews__comment
                | Сегодня мы провели дегустацию чего-то действительно новенького — крафтового
                | кваса
                br
                | Да, да, вы не ослышались! Спасибо Арсену и Руслану за то, что предоставили целую бочку
                br
                | своего напитка!
            cite.reviews__publisher Газета столичный Стольник
            +btn("button_theme-light", "#", "Читать далее")