.header
    .container
        .header__top
            .header__logo
                img(src="img/logo.png" alt="Логотип")
            include  ../menu/menu
        h1.header__title Крафтовый квас<br> всему голова!