.features#features-anchor
    .features__container
        ul.features__list
            li.features__item.features__item_brew
                h2.features__title Варим сами
                p Вот этими самыми руками. Экспериментируем и творим, что хотим.
            li.features__item.features__item_matreshka
                h2.features__title Своё, родное
                p Не заработка ради, а импортозамещения для. Поднимаем производство.
            li.features__item.features__item_thumbsup
                h2.features__title Не экономим
                p Человек это то, что он ест и пьёт. У нас только качественные ингредиенты.