.footer
    .footer__conteiner
        .footer__top
            .footer__logo
                img(src='img/logo.png' alt='')
            include  ../menu/menu
        .footer__bottom
            .footer__social
                a.footer__social-link.footer__social-link_inst(href='#') Инстаграм
                a.footer__social-link.footer__social-link_fb(href='#') Фейсбук
                a.footer__social-link.footer__social-link_vk(href='#') Вконтакте
            .footer__note
                p При перепечатке материалов ссылка на сайт обязательна!
            .footer__copyright
                a.footer__copyright-link(href="#")
                    img.footer__copyright-img(src='img/htmlacademy.png' alt='')
                span.footer__line
                    b Разработчик:
                    a.footer__line-link(href='#')  HTML Academy