.assortment#assortment-anchor
    .assortment__container
        h2.assortment__title Ассортимент
        table.assortment__table
            tr
                th.assortment__table-title Название
                th.assortment__table-title Алк
                th.assortment__table-title Ккал
                th.assortment__table-title Объём
                th.assortment__table-title Стоимость
            tr
                td.assortment__table-name Классика
                td.assortment__table-alcohol &lt; 1,2%
                td.assortment__table-calories 33
                td.assortment__table-volume 330 мл
                td.assortment__table-price 120 Р.
            tr
                td.assortment__table-name Шабаш
                td.assortment__table-alcohol &gt; 1,2%
                td.assortment__table-calories 45
                td.assortment__table-volume 330 мл
                td.assortment__table-price 250 Р.
            tr
                td.assortment__table-name Вахтёр
                    sup.assortment__table-sub-name Новинка
                td.assortment__table-alcohol &lt; 1%
                td.assortment__table-calories 35
                td.assortment__table-volume 0,5 л
                td.assortment__table-price 150 Р.
            tr
                td.assortment__table-name Романтик
                    sup.assortment__table-sub-name Новинка
                td.assortment__table-alcohol &lt; 0,5%
                td.assortment__table-calories 27
                td.assortment__table-volume 0,5 л
                td.assortment__table-price 90 Р.