.assortment {
    padding: 90px 0 90px 0;

    &__container {
        width: 800px;
        margin: 0 auto;
    }

    &__title {
        margin-bottom: 75px;
        font-size: 40px;
        line-height: 60px;
        text-transform: uppercase;
    }
    &__table {
        width: 100%;
        border-collapse: collapse;
        &-title {
            padding-bottom: 30px;
            font-weight: normal;
            font-size: 11px;
            text-align: left;
            color: #999999;
            border-bottom: 1px solid #e5e5e5;
            text-transform: uppercase;

            &:last-child {
                text-align: right;
            }
        }
        &-name {
            padding: 17px 0 17px 0;
            width: 400px;
            font-weight: bold;
            border-bottom: 1px solid #e5e5e5;
            text-transform: uppercase;
        }
        &-alcohol {
            padding: 17px 0 17px 0;
            width: 90px;
            border-bottom: 1px solid #e5e5e5;
        }
        &-calories {
            padding: 17px 0 17px 0;
            width: 60px;
            border-bottom: 1px solid #e5e5e5;
        }
        &-volume {
            padding: 17px 0 17px 0;
            text-transform: uppercase;
            border-bottom: 1px solid #e5e5e5;
        }
        &-price {
            padding: 17px 0 17px 0;
            text-align: right;
            border-bottom: 1px solid #e5e5e5;
        }
        &-sub-name {
            margin-left: 20px;
            padding: 2px 5px 2px 5px;
            font-size: 8px;
            line-height: 30px;
            color: #ffffff;
            background-color: #000000;
            text-transform: uppercase;
            border-radius: 2px;
        }
    }
}
