.history#history-anchor
    .history__container
        h2.history__title Немного истории
        dl.history__content

            dt.history__sub-title Происхождение кваса
                i.history__source Источник:&nbsp
                    a.history__link(target='_blank' href='#') ru.wikipedia.org
            dd.history__line
                img.history__img(src='img/wiki-1.png' alt='')
                p.history__text
                    | Квас на Руси появился в X-XI веке. Само слово «квас» тоже имеет древнерусское происхождение.
                    | Помимо России квас готовят в Белоруссии, Сербии, Македонии, Словакии и многих других странах,
                    | но называется он везде одинаково — квас.

            dt.history__sub-title Классификация кваса
                i.history__source Источник:&nbsp
                    a.history__link(target='_blank' href='#') ru.wikipedia.org
            dd.history__line
                img.history__img(src='img/wiki-2.png' alt='')
                p.history__text
                    | По российскому ГОСТу для промышленного изготовления — это напиток с объёмной долей этилового
                    | спирта не более 1,2%, изготовленный в результате незавершённого спиртового и молочнокислого
                    | брожения сусла.